/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *


*/
@font-face {
  font-family: 'Graphik';
  src: url(/assets/fonts/graphik/graphik-regular-web-c7082d25f64535de0c880797e4bc11152068f288bca526596a88c23a1e4f3990.woff2) format("woff2"), url(/assets/fonts/graphik/graphik-regular-web-aaa16f3783b8c10187beebf9d50da9d43d4cd7bcd056f34096e4e7149d61557c.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Medium';
  src: url(/assets/fonts/graphik/graphik-medium-web-6b8bedb9e668f9999472b0ae51bda3f1b66885ec82cf38b66c958ab4f241416d.woff2) format("woff2"), url(/assets/fonts/graphik/graphik-medium-web-e136444947e6077440ceeef67ab143afd9276a58aeea90279cc0ceee6e155de1.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Semibold';
  src: url(/graphik/graphik-semibold-web.woff2) format("woff2"), url(/graphik/graphik-semibold-web.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BradFordLL';
  src: url(/assets/fonts/bradford/bradford-ll-web-regular-6fcc315011bee97f8a42ba2e22300e53544d760bc82027157cf7435549ab2699.woff2) format("woff2"), url(/assets/fonts/bradford/bradford-ll-web-regular-be2f48866f815a08f8df27f89d27e68b519dd508b4f7961979b764ac27a8fbb6.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'BradFordLL Medium';
  src: url(/assets/fonts/bradford/bradford-ll-web-medium-6d0bc64de1d0ead9f18bea9c35f6f5257326eeda2d28e4fe082e48306db0caf8.woff2) format("woff2"), url(/assets/fonts/bradford/bradford-ll-web-medium-e771c4a6a4ba65b90afd0a9ca7475462fa553f5f607d6b40cc69cea78d925c93.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'BradfordLL Book';
  src: url(/assets/fonts/bradford/bradford-ll-web-book-4bc5719b087b2ba94e9a5a6783c5b663af1b274afec68421f5b383eb3bc12f46.woff) format("woff2"), url(/assets/fonts/bradford/bradford-ll-web-book-4bc5719b087b2ba94e9a5a6783c5b663af1b274afec68421f5b383eb3bc12f46.woff) format("woff");
  font-display: swap;
}
/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/

.solidus-stripe-payment {
  padding: 1em 0;
}

[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 * spree/frontend/all points to the
 * `vendor/assets/stylesheets/spree/frontend/all.css` file generated by
 * `solidus:install`. See `setup_assets` at
 * https://github.com/solidusio/solidus/blob/main/core/lib/generators/solidus/install/install_generator.rb

 *


*/

h3 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
}
